extends _app

block init
    -var pageTitle = ""; 
    -var pageDesc = "";
    -var pageName = "";
    -var pathImgAll = "/assets/img/";
    -var pathImgPage = "/assets/img/index/";
   
block contents

    main(class=pageName)
        