.an-fadeIn{
  animation-name: fadeIn;
  animation-timing-function: $easeOutSine;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.an-fadeOut{
  animation-name: fadeOut;
  animation-timing-function: $easeOutSine;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}


@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}