$breakpoints: (
  'sp': 'screen and (max-width: 768px)',
  'pc': 'screen and (min-width: 769px)',
  'tb': 'screen and (min-width: 768px) and (max-width: 1023px)',
  'lg': 'screen and (min-width: 1024px) and (max-width: 1339px)',
  'xl': 'screen and (min-width: 1340px)',
);

@mixin mq($device: 'sp') {
  @media #{map-get($breakpoints, $device)}{        
    @content;
  }
}

@mixin clearFix{
    &:before,
    &:after{
      content: '';
      display: block;
      overflow: hidden;
      clear: both;
      height: 1px;
      margin-top: -1px;
      visibility: hidden;
    }
    &{
      *zoom: 1;
    }
}

@mixin middle{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

@mixin hover {
  backface-visibility: hidden;
  transition-duration: 300ms;
  transition-timing-function: $easeOutSine;
  &:hover{
    opacity: 0.7;
  }
}

